@import "./scss/bootstrap";
@import "./scss/navbar";
@import "./scss/RightInfoBar";
@import "./scss/LeftInfoBar";
@import "./scss/Home";
@import "./scss/About";
@import "./scss/Experience";
@import "./scss/Work";
@import "./scss/Contact";
@import "./scss/Footer";
@import "./scss/MainLoader";
@import "./scss/Certification";
.App{
    min-height: 100vh;
    max-height: 100%;
}
.morocoCountingFont{
    font-family: 'Roboto Mono', monospace;
}
