.Certification {
    .certificationHeading {
        font-size: clamp(26px, 5vw, 32px);
    }
    .certificationsImages{
        height: 95%;
        width: 95%;
        object-fit: cover;
        // position: inherit;
        // top: -15px;
        // right: 15px;
        cursor:pointer;
        // border-radius: 8px;
    }

    .vl {
        width: 25%;
        margin-left: 4%;
        padding-bottom: 5px;
    }

        // .rounded {
        //     border: 2px solid #64FFDA;
        //     position: relative;
        // }
    .hover:hover{
        color: #64FFDA !important;
        text-decoration: underline !important;
    }

    // img {

    // }

    // img:hover {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
    //     position: inherit;
    //     top: -20px;
    //     right: 20px;
    //     cursor:pointer;
    //     border-radius: 8px;
    //     // opacity: 0.9 !important;

    // }
}