.Experience{
    .vl {
        width: 25%;
        margin-left: 4%;
        padding-bottom: 5px;
    }
    .hover:hover{
        color: #64FFDA !important;
        text-decoration: underline !important;
    }
    .A:hover{                //A uses here for styling @ in Experience page.
        color: #64FFDA !important;
    }
}