.Home{
    .hello{
        font-family: 'Nanum Gothic', sans-serif;
    }
    .name{
        font-size: 75px;
        font-family: 'Prompt', sans-serif;
    }
    .whoIs{
        font-size: 50px;
        font-family: 'Prompt', sans-serif;
    }
    .mailBtn{
        font-family: 'Nanum Gothic', sans-serif;
    }
}