.LeftInfoBar {
    position: fixed;
    top: 40%;
    left: 50px;

    .vl {
        height: 150px;
        margin-left: 7px;
        margin-top: 39px;

    }
    .iconHover:hover {
        color: #64FFDA !important;
        font-size: 1.5rem;
    }
}