.LeftInfoBar {
    position: fixed;
    top: 40%;
    left: 50px;

    .vl {
        height: 130px;
        margin-left: 7px;
        margin-top: 80px;
        position: fixed;
        bottom: 0px;
    }
    .iconHover:hover {
        color: #64FFDA !important;
    }
}