.Navbar {
    font-family: 'Roboto Mono', monospace;

    .hover:hover {
        color: #64FFDA !important;
    }

    .Toggler {
        .first-line {
            width: 50px;
            border: 2px #64FFDA solid;
        }

        .second-line {
            width: 45px;
            border: 2px #64FFDA solid;
            margin-top: 5px;
        }

        .third-line {
            width: 40px;
            border: 2px #64FFDA solid;
            margin-top: 5px;
        }
    }

}