.Navbar {
    font-family: 'Roboto Mono', monospace;
    // @keyframes slideInLeft {
    //     0% {
    //     //   transform: translateX(-100%);
    //       transform: translateY(-100%);
    //     }
    //     100% {
    //       transform: translateX(0);
    //     }
    //   }

    //   animation-duration: 2s;
    //   animation-timing-function: ease-in-out;
    //   animation-delay: 0s;
    //   animation-iteration-count: 1;
    //   animation-name: slideInLeft;

    .hover:hover {
        color: #64FFDA !important;
    }

    .Toggler {
        .first-line {
            width: 50px;
            border: 2px #64FFDA solid;
        }

        .second-line {
            width: 45px;
            border: 2px #64FFDA solid;
            margin-top: 5px;
        }

        .third-line {
            width: 40px;
            border: 2px #64FFDA solid;
            margin-top: 5px;
        }
    }

}