.RightInfoBar{
    position: fixed;
    top: 40%;
    right: 50px;

    .vl {
        height: 150px;
        margin-right: 21px;
        margin-top: 39px;
    }
    .verticalMail{
        writing-mode: vertical-rl;
    }
    .hover:hover {
        color: #64FFDA !important;
    }
}