.RightInfoBar{
    position: fixed;
    top: 40%;
    right: 50px;

    .vl {
        height: 130px;
        margin-left: 7px;
        margin-top: 80px;
        position: fixed;
        bottom: 0px;
    }
    .verticalMail{
        writing-mode: vertical-rl;
    }
    .hover:hover {
        color: #64FFDA !important;
    }
}